
#page {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-size: 16;
  min-height: 100vh;
}


.section {
 background-color:  #ffffff;
 flex:1;
 color: "#352D39"
 ; 
}
.section.dark {
  flex:1;
  background-color: #352D39; 
  color:#ffffff
}

#footer {
  
  background-color: #352D39;
  /* flex:1; */
  flex-grow: 1;
}