
#page {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-size: 1rem;
  min-height: 100vh;
  
}

.title{ 
  font-size: 2rem;
  text-align: center;
}
#strapline {
  font-size: 1.1rem;
  text-align: center;
}

#imageMe {
  width: 40em;
  flex:1;
  align-self: center;
}

.section {
  display: flex;
 flex-direction: column;
 flex:1; 
  padding: 0.75rem;
}


.section.light {
  background-color:  #ffffff;
 color: "#352D39" ;
}
.section.dark {
  flex:1;
  background-color: #352D39; 
  color:#ffffff
}

#footer {
  
  background-color: #352D39;
  /* flex:1; */
  flex-grow: 1;
}