.arrow {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
}

#content {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    padding: 10px;
    flex: 9;
    border:1px solid black
}

.cardStuff {
    width: 20vw;
    height: 20vh;
    margin: 0 2px 0 2px;
    /* box-shadow: 1px -1px 10px black; */
    /* border: 10px; */
    /* flex-wrap: nowrap; */
    /* width: 25vw; */
}


.card_content {
    display: flex;
    /* height: 100%; */
    align-items: center;
    flex-direction: column;
}

#icon {
    /* border-radius: 50%; */
    width: 30px;
    /* flex: 1; */
    align-self: center;
    /* height: 30px; */
}


#carousel {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex: 1;
    min-height: 18vw;
    max-height: 20vw;
}

.cardTitle {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}